<html>
<head>
    <meta charset="UTF-8"/>
    <title>协作式在线程序编程</title>
    <link type="text/css" rel="stylesheet" href="css/codemirror.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <link type="text/css" rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="webjars/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script type="text/javascript" src="js/codemirror/codemirror.js" />
    <script type="text/javascript" src="js/codemirror/mode/loadmode.js" />
    <script type="text/javascript" src="webjars/sockjs-client/sockjs.min.js" />
    <script type="text/javascript" src="webjars/stomp-websocket/stomp.min.js" />
    <script type="text/javascript" src="webjars/jquery/jquery.min.js" />
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js" />
</head>
<body>
<div id="editor">
	<div id="title">
        <div class="title-bar">
            <img style="width: 24px;height: 24px;border-radius: 12px;float: left;margin: 3px" src="img/head.png" />
            <span style="color: white">李新宇(20143461)正在编辑</span>

            <span class="code_mode" type="button" data-toggle="modal" data-target="#m_switch_project">默认空间</span>
        </div>
    </div>
    <div id="bookmark">
        <div type="button" data-toggle="modal" data-target="#m_new_tab" id="tab_new"><i id="btn_new"
                                                                                        class="fa fa-plus-circle"
                                                                                        aria-hidden="true"></i></div>
    </div>
	<textarea id="codemirror"></textarea>
    <div style="width: 100%;height: 32px;background-color: #009999;padding: 2px">
        <button onclick="run()" style="height: 24px;width: 60px;margin: 2px;cursor: pointer;float: right"><i class="fa fa-play-circle" aria-hidden="true"></i>运行</button>
        <button onclick="run()" style="height: 24px;width: 60px;margin: 2px;cursor: pointer"><i class="fa fa-rotate-left" aria-hidden="true"></i>撤销</button>
        <button onclick="run()" style="height: 24px;width: 60px;margin: 2px;cursor: pointer"><i class="fa fa-rotate-right" aria-hidden="true"></i>重做</button>
        <button type="button" data-toggle="modal" data-target="#m_keyboard_input" style="height: 24px;width: 60px;margin: 2px;cursor: pointer"><i class="fa fa-hashtag" aria-hidden="true"></i>参数</button>

        <button onclick="run()" style="height: 24px;width: 60px;margin: 2px;cursor: pointer"><i class="fa fa-trash" aria-hidden="true"></i>删除</button>
    </div>
    <textarea readonly="true" id="console"></textarea>
</div>

<div id="chatroom">
    <div style="width: 100%;height: 60px;background-color: cornflowerblue;text-align: center;line-height: 60px;color: white">
    14计科3班(42/49)
    </div>
    <div id="chatbox">
        <div id="chatcontent" class="content chat-block" tabindex="0" >
        </div>
    </div>
    <div id="chat_input">
        <input id="inputBox" type="text" name="" />
        <div id="btn_send" onclick="sendMessage()">发送</div>
    </div>
</div>
<!-- Modal弹出层 -->
<div class="modal fade" id="m_new_tab" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-file-o" aria-hidden="true"></i>新建文件</h4>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <input id="ip_filename" type="text" class="form-control" placeholder="请输入文件名"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" onclick="tabNew()" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_keyboard_input" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" ><i class="fa fa-cogs" aria-hidden="true"></i>输入参数</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div id="parameters" class="form-group">
                        <input onfocus="m_input_focus(this)" type="text" class="input-parameters form-control"
                               placeholder="请输入参数" value="love"/>
                        <input onfocus="m_input_focus(this)" type="text" class="input-parameters form-control"
                               placeholder="请输入参数" value="you"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_switch_project" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-tasks" aria-hidden="true"></i>所有项目</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover" id="project_table">
                    <thead>
                    <tr>
                        <th scope="col">切换</th>
                        <th scope="col">名称</th>
                        <th scope="col">创建日期</th>
                        <th scope="col">在线人数</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr onclick="switchProject(this)">
                        <th scope="row"><input type="radio" name="project_radio"/></th>
                        <td>默认空间</td>
                        <td>2018-01-01</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="radio" name="project_radio"/></th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="radio" name="project_radio"/></th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal弹出层 -->
<script type="text/javascript" src="js/script.js" />
</body>
</html>