<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>登录</title>

</head>
<body onload='document.f.username.focus();'>
<h1>Login with Username and Password</h1>
<form id="f" name='f' action='/login' method='POST'>
    <table>
        <tr>
            <td>USERNAME:</td>
            <td><input id="username" type='text' name='username' th:value='20143461' /></td>
        </tr>
        <tr>
            <td>PASSWORD:</td>
            <td><input type='password' name='password' th:value="20143461" /></td>
        </tr>
        <tr>
            <td colspan='2'><input id="btn_login" name="submit" type="submit" value="Login" onclick="login()" /></td>
        </tr>
    </table>

    <script>
        function login(){
            localStorage.setItem('username',f.password.value);
        }

        document.getElementById("btn_login").click();
    </script>
</form>
</body>
</html>